<<<<<<< HEAD
header {
=======
header{
>>>>>>> c112c1b89adff57e3aa8f9e8b635d9f64d41b658
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
<<<<<<< HEAD
    display: flex;
    align-items: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
=======
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
>>>>>>> c112c1b89adff57e3aa8f9e8b635d9f64d41b658
}
