<<<<<<< HEAD
body{
	margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
=======
html {
    position: relative;
    min-height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;   
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    bottom: 30px;
>>>>>>> c112c1b89adff57e3aa8f9e8b635d9f64d41b658
}
